---
title: "Tech"
layout: default
permalink: "/tech.html"
---


{% for tech in site.categories.travel %}
<h4 class="mt-5 mb-neg-30" id="tech"><span class="text-capitalize badge badge-primary text-small">test</span></h4>
<div class="blog-grid-container">
{% assign pages_list = tech[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endfor %}
